nav ul {list-style-type:none;
}
nav ul li {display: inline;}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(46, 100, 136);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(68, 126, 165);
}
.navbar li{
    float:left;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: rgb(181, 222, 255);
    border: 1px solid rgb(57, 166, 255);
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
}

.btn:hover {
    border-color:rgb(24, 53, 77);
}
